body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('https://static.vecteezy.com/system/resources/previews/011/004/883/non_2x/triangular-abstract-with-security-symbol-circuit-board-modern-future-website-background-or-cover-page-for-technology-and-finance-concept-and-education-future-company-vector.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.content {
    padding: 20px;
}

.assessment-card {
    margin-bottom: 20px;
}

h1 {
    color: pink;
}

.assessment-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}